.welcome-text {
  text-align: center;
  vertical-align: middle;
}

.space-bottom {
  padding-bottom: 40px;
}
.space-top {
  padding-top: 40px;
}
.centerd {
  margin: 0 auto;
  max-width: 800px;
  padding-left: 0px;
  padding-right: 0px;
}

#welcome h1 {
  padding: 0 0 5px;
  line-height: 120%;
  text-align: center;
}
h1 {
  font-size: 36px;
  font-weight: bold;
  padding: 0;
  text-transform: capitalize;
}

.welcome-trending-search {
  display: inline-block;
  font-size: 11px;
  text-align: center;
  color: #333;
}

strong, b {
  font-weight: 700;
}

#welcome .bycolor {
  margin: 0 auto;
  width: 80%;
  margin-top: 20px;
}
.bycolor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  max-width: 500px;
}

.bycolor li {
  display: block;
  text-align: center;
}

.bycolor li div {
  font-size: 0;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #fff;
}
