<div class="welcome-text">
  <div class="centerd space-top space-bottom">
    <h1>
      GetColor.NET
    </h1>
    <ul class="bycolor">
      <li><div title="Red" style="background:#ff2000">Red Color</div></li>
      <li><div title="Orange" style="background:#ff7c00">Orange</div></li>
      <li><div title="Pink" style="background:#f52394">Pink</div></li>
      <li><div title="Purple" style="background:purple">Purple</div></li>
      <li><div title="Blue" style="background:#0062c6">Blue</div></li>
      <li><div title="Light Blue" style="background:#00b2d4">Light Blue</div></li>
      <li><div title="Green" style="background:#00ab00">Green</div></li>
      <li><div title="Light Green" style="background:#90e200">Light Green</div></li>
      <li><div title="Yellow" style="background:#ffcf00">Yellow</div></li>
      <li><div title="Violet" style="background:#7f00ff">Violet</div></li>
      <li><div title="Gray" style="background:#c4c4c4">Gray</div></li>
      <li><div title="Brown" style="background:#593110">Brown</div></li>
    </ul>
  </div>
</div>